#icon {
    background: linear-gradient(to right bottom,#95a5a6,#3EBFF7);
    height: 200px;
}

#navigation {
    position: absolute;
    right: 25px;
    padding: 9px;
    margin-top: 15px;
    list-style: none;
}

.navWord{
    margin: 0 20px 0 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    top: 5px;
    position: relative;
}


#navigation>a:before,
#navigation>a:after {
    content: "";
    position: absolute;
    background: black;
    width: 0;
    height: 3px;
    transition:0.5s;
}

a:after {
    left: 0;
    bottom: -10px;
}

a:before{
    right: 0;
    top: -10px;
}

#navigation>a:hover{
    color: white;
}

#navigation>a:hover:after,
#navigation>a:hover:before{
    width: 100%;
}

#border {
    width: calc(100% - 210px);
    height: 500px;
    border: 4px solid black;
    position: absolute;

    background: linear-gradient(to right bottom,#3EBFF7,white);
    top: 120px;
    right: 100px;
    box-shadow: 0 10px 10px 0 #535c68;
}

#img {
    position: absolute;
    top:90px;
    right: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}


#box {
    width: 300px;
    height: 494px;
    background: linear-gradient(to right bottom,#0c2461,#3EBFF7);
    top:0;
    right:0;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#header {
    position: absolute;
    top: 65px;
    left:90px;
    font-family: 'Lobster', cursive;
    font-size: 55px;
    background: linear-gradient(to right top,#0c2461,#95a5a6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    /*color: ;*/
}


 #name {
    position: absolute;
    top: 170px;
    left:210px;
    font-size: 45px;
    font-family: 'Playfair Display', serif;

}

#position {
    position: absolute;
    top: 250px;
    left:210px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 28px;

    -webkit-text-stroke: 1px black;
    color: transparent;
    background-image: linear-gradient(black, blue,purple);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -300px ;
    animation: backcolor 2s linear infinite alternate ;
}

@keyframes backcolor {
    100%{
        background-position: 300px 0 ;
    }
}

.container{
    position: absolute;
    top: 430px;
    left: 440px;
}

.container .button{
    display: inline-block;
    left: 100px;
    height: 45px;
    width: 45px;
    margin: 0 5px;
    overflow: hidden;
    background: white;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.6);
    transition: all 0.4s ease-out;
}

.container .button:hover{
    width: 200px;
}

.container .button:nth-child(1):hover{
    background: linear-gradient(to right bottom,purple,#3EBFF7);
}

.container .button:nth-child(2):hover{
    background: linear-gradient(to left bottom,black,white);
}

.container .button:nth-child(3):hover{
    background: linear-gradient(to left top,#44b2d3,white);
}

.container .button:nth-child(4):hover{
    background: linear-gradient(to right top,white,firebrick);
}
.container .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-top: 1px;
    margin-left: 5px;

    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.4s ease-out;
}


.container .button .icon{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.4s ease-out;
}

.container .button:hover .icon img{
    color: white;
}

.container .button span{
    font-size: 20px;
    font-weight:bold;
    line-height: 60px;
    margin-left: 68px;
    transition: all 0.4s ease-out;
    position: relative;
    top: -70px;
    color: black;

}

#b{
    width: 120px;
    height: 30px;
    position: absolute;
    border: 2px solid black;
    top: 370px;
    left: 210px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #dfe6e9;
}
#text02 {
    position: absolute;
    padding: 3px;
    font-size:18px;
    margin-left: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 2px;
}

#b:hover{
    background: black;

}

#text02:hover{
    color: white;

}

/*-------------------------------------------------- project ---------------------------*/

#border01 {
    width: calc(100% - 210px);
    height: 627px;
    border: 4px solid black;
    position: absolute;
    background-color: #7efff5;
    opacity: 0.4;
    top: calc(215% - 50px);
    right: 100px;
    box-shadow: 0 10px 10px 0 #535c68;
}
#project01 {
    position: absolute;
    left: 250px;
    top: calc(205% - 30px);
    color:black;
    font-size: 70px;
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    text-shadow: 5px 5px 5px #7f8fa6;
}

#project01:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}





/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card__img{
    display: block;
    max-width: 100%;
    height: 200px;

}

/*=============== CARD ===============*/
.contain {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    left: 120px;
    position: absolute;
    top: calc(220% - 50px);
}

.card__container{
    display: grid;
    row-gap: 3.5rem;
}

.card__article {
    position: relative;
    overflow: hidden;
    /*border: 3px solid black;*/
    /*border-radius: 1.8rem;*/
}

.card__img {
    width: 300px;
    border-radius: 1.5rem;
}

.card__data {
    width: 150px;
    /*background: linear-gradient(to left top,#1e90ff,#dff9fb);*/
    background: linear-gradient(to right bottom,#3EBFF7,white);
    padding: 1.5rem 1rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    height: 120px;

}

.card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
    font-weight: bold;
    text-align: center;
}

.card__title {
    font-size: var(--h2-font-size);
    color:black;
    margin-bottom: .75rem;
    background: linear-gradient(to right top,red,black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-weight: bolder;
    text-align: center;
}

.card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: black;
    position: absolute;
    left: 130px;
    width: 70px;
    height: 21px;
}

.card__button:hover {
    /*text-decoration: underline;*/
    font-weight: bold;

}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .contain {
        margin-inline: 1rem;
    }

    .card__data {
        width: 200px;
        padding: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

/* For large devices */
@media screen and (min-width: 1120px) {
    .container {
        height: 100vh;
    }

    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
        width: 348px;
    }
    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

/*-------------------------------------------------- about me ---------------------------*/


#box03 {
    width: 200px;
    height: 390px;
    position: absolute;
    background-color: #3EBFF7;

    top: 830px;
    left: 120px;
    border-radius: 0 50px 50px 0;
}
#img05 {
    position: absolute;
    width: 330px;
    height: 330px;
    top: 860px;
    left: 170px;
    box-shadow: rgba(0, 0, 0, 0.15) 7.95px 9.95px 2.6px;
}

#line04 {
    width: 4px;
    height: 450px;
    background-color:#b2bec3;
    position: absolute;
    left: 580px;
    top: 800px;
}

#about {
    position: absolute;
    left: 250px;
    top: calc(100% - 20px);
    color:black;
    font-size: 70px;
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    text-shadow: 5px 5px 5px #7f8fa6;

}
#about:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

#aboutMe {
    position: absolute;
    left: 680px;
    top: 640px;
    font-size: 200px;
    font-family: 'Josefin Slab', serif;
    color: #dfe6e9;
}
#name01 {
    position: absolute;
    left: 640px;
    top: 870px;
    font-family: 'Black Ops One', cursive;
    font-size: xxx-large;
    color: #3EBFF7;
}
#text03 {
    position: absolute;
    left: 640px;
    top: 970px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size:30px;
    color: #1e272e;
}
#btn {
    position: absolute;
    width: 140px;
    height: 30px;
    top:calc(188% - 20px) ;
    border: 2px solid black;
    right: 150px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #dfe6e9;

    transition: .5s;
}
#btn:hover {
    background-color: black;
    /*width: 140px;*/
}
#cv{
    position: absolute;
    padding: 3px;
    font-size:18px;
    margin-left: 13px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 2px;
}

#cv:hover{
    color: #dfe6e9;
}

/*<!--      /////////////////////////// Assignment Page /////////////////////// -->*/

#Main-Assignment {
    position: absolute;
    left: 250px;
    top: calc(305% - 30px);
    color:black;
    font-size: 70px;
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    text-shadow: 5px 5px 5px #7f8fa6;
}

#Main-Assignment:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;}

#assignment01 {
    position: absolute;
    left: 220px;
    top: calc(345% - 10px);
    font-size: 200px;
    font-family: 'Josefin Slab', serif;
    color: #dfe6e9;
    opacity: 90%;
}

.review-box{
    width: 90%;
    max-width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px rgba(0,0,0,0.25);
    position: absolute;
    top: calc(335% - 10px);
    left: 350px;
    background: white;
    overflow: hidden;
}

.card{
    height: 300px;
    padding: 40px;
    color: #777;
    line-height: 22px;
    box-sizing: border-box;
    background: lightblue;
    position: relative;
    z-index: 1;
}

.profile{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profile img{
    width: 150px;
    border-radius: 10%;
    margin-right: 20px;
}

.profile h2{
    font-size: 25px;
    color: darkred;
    margin-bottom: 8px;
}

.card p{
    color: #060E18;
    font-weight: bold;
}

.card .button01 {
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    color: #060E18;
    padding: 5px 16px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.card .button01:hover{
    background: black;
    color: white;
    border: 2px solid white;
}

.card .button02 {
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    color: #060E18;
    padding: 5px 16px;
    border-radius: 10px;
    position: absolute;
    right: 180px;
    bottom: 10px;
}

.card .button02:hover{
    background: black;
    color: white;
    border: 2px solid white;
}
#slider{
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.slider-bar{
    width: 60px;
    height: 100%;
    padding:15px 0;
    box-sizing: border-box;
    background: navy;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider-bar img{
    width: 25px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;

}

.card::before{
    content: '';
    width: 110px;
    height: 110px;
    border-bottom-right-radius:100%;
    background:navy;
    position: absolute;

    left: 0;
    top: 0;
    z-index: -1;
}

::selection{
    background: #7efff5;
    color: white;
}

/*-------------------------------  media query -------------------*/

/*@media (max-width: 1170px) {*/
/*    #icon{*/
/*        width: 1150px;*/
/*    }*/
/*    #box{*/
/*        width:250px ;*/

/*    }*/
/*    #img{*/
/*        width: 200px;*/
/*        top:130px;*/
/*        right: 130px;*/
/*    }*/
/*    #header{*/
/*        top: 60px;*/
/*        left: 70px;*/
/*    }*/
/*    #name{*/
/*        top: 150px;*/
/*        left: 170px;*/
/*        font-size: 40px;*/
/*    }*/
/*    #position{*/
/*        left: 170px;*/
/*        top: 220px;*/
/*    }*/
/*    #b{*/
/*        top: 340px;*/
/*        left: 170px;*/
/*    }*/
/*    .container{*/
/*        left: 380px;*/
/*    }*/

/*    !*-----------------  About me --------------*!*/

/*    #box03{*/
/*        left: 100px;*/
/*    }*/
/*    #img05{*/
/*        left: 150px;*/
/*    }*/
/*    #line04{*/
/*        left: 550px;*/
/*    }*/
/*    #aboutMe{*/
/*        font-size: 180px;*/
/*        left: 600px;*/
/*        top: 660px;*/
/*    }*/
/*    #name01{*/
/*        left: 600px;*/
/*        top: 750px;*/
/*        font-size:50px;*/
/*    }*/
/*    #text03{*/
/*        left: 600px;*/
/*        top: 900px;*/
/*    }*/
/*    #btn{*/
/*        top:calc(195% - 20px) ;*/
/*    }*/

/*    !*-----------------  Project --------------*!*/

/*    #b01{*/
/*        left: 190px;*/
/*    }*/
/*    #b02{*/
/*        left: 150px;*/
/*    }*/
/*    #pro01{*/
/*        left: 150px;*/
/*        font-size:20px;*/
/*    }*/
/*    #github{*/
/*        left: 373px;*/
/*    }*/
/*    #b03{*/
/*        left: 500px;*/
/*    }*/
/*    #b04{*/
/*        left: 460px;*/
/*    }*/
/*    #pro02{*/
/*        left: 460px;*/
/*        font-size:20px;*/
/*    }*/
/*    #github01{*/
/*        left: 683px;*/
/*    }*/
/*    #b05{*/
/*        right: 130px;*/
/*    }*/
/*    #b06{*/
/*        right: 170px;*/
/*    }*/
/*    #github02{*/
/*        right: 130px;*/
/*    }*/
/*    #pro03{*/
/*        right: 218px;*/
/*        font-size:20px;*/
/*    }*/
/*    #pro04{*/
/*        left: 150px;*/
/*        font-size:20px;*/
/*    }*/
/*    #b07{*/
/*        left: 190px;*/
/*    }*/
/*    #b08{*/
/*        left: 150px;*/
/*    }*/
/*    #github03{*/
/*        left: 373px;*/
/*        font-size:20px;*/
/*    }*/
/*    #b09{*/
/*        left: 500px;*/
/*    }*/
/*    #b10{*/
/*        left: 460px;*/
/*    }*/
/*    #pro05{*/
/*        left: 455px;*/
/*        font-size:20px;*/
/*    }*/
/*    #github04{*/
/*        left: 683px;*/
/*    }*/
/*    #b11{*/
/*        right: 130px;*/
/*    }*/
/*    #b12{*/
/*        right: 170px;*/
/*    }*/
/*    #github05{*/
/*        right: 130px;*/
/*    }*/
/*    #pro06 {*/
/*        right: 275px;*/
/*        font-size:20px;*/
/*    }*/
/*    !*-----------------  Assignment --------------*!*/
/*    #assignment01{*/
/*        font-size: 180px;*/
/*        left: 160px;*/
/*        top: calc(350% - 10px);*/
/*    }*/
/*    .review-box{*/
/*        left: 280px;*/
/*    }*/

/*    !*-----------------  Skills --------------*!*/
/*    #education{*/
/*        left: 180px;*/
/*    }*/
/*    #Re-03{*/
/*        left: 150px;*/
/*    }*/
/*    #Re-04{*/
/*        left: 190px;*/
/*    }*/
/*    #liner01{*/
/*        right: 170px;*/
/*    }*/
/*    #liner{*/
/*        right: 300px;*/
/*    }*/
/*    #r-01{*/
/*        right: 260px;*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #java{*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #r-02{*/
/*        right: 280px;*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #css{*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #r-03{*/
/*        right: 260px;*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #js{*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #r-04{*/
/*        right: 130px;*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #sql{*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #r-05{*/
/*        right: 130px;*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #html{*/
/*        width: 90px;*/
/*        height: 90px;*/
/*    }*/
/*    #r-06{*/
/*        right: 160px;*/
/*        width: 150px;*/
/*        height: 90px;*/
/*    }*/
/*    #vs{*/
/*        width: 150px;*/
/*        height: 90px;*/
/*    }*/

/*    !*-----------------  contact ----------------*!*/
/*    #border04{*/
/*        left: 150px;*/
/*        width: calc(80% - 400px);*/
/*    }*/
/*    #border05{*/
/*        width: 350px;*/
/*        height: 400px;*/
/*        top: calc(652% - 50px);*/
/*    }*/
/*    #border06{*/
/*        right: 535px;*/
/*        top: calc(650% - 50px);*/
/*    }*/
/*    .info{*/
/*        top: calc(647% - 30px);*/
/*        right:420px;*/
/*    }*/
/*    .contactForm{*/
/*        left: 220px;*/
/*    }*/
/*    #con{*/
/*        left: 200px;*/
/*    }*/
/*    .formBox .inputBox input,*/
/*    .formBox .inputBox textarea{*/
/*        width: 350px;*/
/*        left: 0;*/
/*    }*/

/*}*/


/*@media(max-width: 1150px) {*/
/*    #icon{*/
/*        width: 1133px;*/
/*    }*/
/*    #icon02{*/
/*        width: 1133px;*/
/*    }*/
/*    #name{*/
/*        left: 170px;*/
/*        font-size: 38px;*/
/*    }*/
/*          !*-----------------  About me --------------*!*/
/*    #aboutMe{*/
/*        font-size: 180px;*/
/*    }*/
/*    #name01{*/
/*        left: 600px;*/
/*        top: 800px;*/
/*        font-size:45px;*/

/*    }*/
/*    #text03{*/
/*        font-size:25px;*/
/*        left: 590px;*/
/*        top: 940px;*/
/*    }*/
/*    #btn{*/
/*        top: 1200px;*/
/*    }*/

/*    !*-----------------  Project --------------*!*/

/*    #pro02{*/
/*        left: 440px;*/
/*        font-size:20px;*/
/*    }*/
/*    #b03{*/
/*        left: 490px;*/
/*    }*/
/*    #b04{*/
/*        left: 450px;*/
/*    }*/
/*    #github01{*/
/*        left: 673px;*/
/*    }*/
/*    #pro05{*/

/*    }*/

/*        !*-----------------  Assignment --------------*!*/
/*    #assignment01{*/
/*        left: 140px;*/
/*    }*/
/*    .review-box{*/
/*        left: 260px;*/
/*    }*/

/*    !*-----------------  contact --------------*!*/
/*    .formBox .inputBox input,*/
/*    .formBox .inputBox textarea{*/
/*        width: 350px;*/
/*    }*/
/*}*/




/*@media (max-width: 1140px) {*/
/*    #icon{*/
/*        width: 1120px;*/
/*    }*/
/*    #icon02{*/
/*        width: 1120px;*/
/*    }*/
/*    #img{*/
/*        width: 200px;*/
/*        right: 110px;*/
/*        top: 190px;*/
/*    }*/
/*    #header{*/
/*        left:50px;*/
/*        top: 40px;*/
/*        font-size: 50px;*/
/*    }*/
/*    #name{*/
/*        top: 130px;*/
/*        left: 150px;*/
/*        font-size: 38px;*/
/*    }*/
/*    #position{*/
/*        top: 195px;*/
/*        left: 150px;*/
/*        font-size: 25px;*/
/*    }*/
/*    .container{*/
/*        left: 300px;*/
/*    }*/
/*    .container .button{*/
/*        height: 40px;*/
/*        width: 40px;*/
/*        left: 50px;*/
/*    }*/
/*    .container .button .icon{*/
/*        height: 50px;*/
/*        width: 50px;*/
/*        margin-top: -1px;*/
/*        margin-left: 3px;*/
/*    }*/
/*    .container .button span{*/
/*        top: -60px;*/
/*    }*/
/*    #b{*/
/*        left: 150px;*/
/*        width: 100px;*/
/*        top: 300px;*/
/*    }*/
/*    #text02{*/
/*        margin-left: 10px;*/
/*    }*/
/*    #box03{*/
/*        height: 370px;*/
/*    }*/
/*    #img05{*/
/*        height: 310px;*/
/*        width: 310px;*/
/*    }*/
/*    #line04{*/
/*        left: 520px;*/
/*    }*/
/*    #aboutMe{*/
/*        font-size: 160px;*/
/*        left: 550px;*/
/*        top: 670px;*/
/*    }*/
/*    #name01{*/
/*        left: 560px;*/
/*        top: 800px;*/
/*        font-size:43px;*/
/*    }*/
/*    #text03{*/
/*        left: 560px;*/
/*    }*/
/*    !*-----------------  contact --------------*!*/
/*    .formBox .inputBox input,*/
/*    .formBox .inputBox textarea{*/
/*        width: 340px;*/
/*    }*/
/*}*/


