#icon {
    background: linear-gradient(to right bottom,#95a5a6,#3EBFF7);
    height: 200px;
}

.arrow-btn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 20px;
    z-index: 999999;
}
#navigation {
    position: absolute;
    right: 25px;
    padding: 9px;
    margin-top: 15px;
    list-style: none;
}

.navWord{
    margin: 0 20px 0 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    top: 5px;
    position: relative;
}


#navigation>a:before,
#navigation>a:after {
    content: "";
    position: absolute;
    background: black;
    width: 0;
    height: 3px;
    transition:0.5s;
}

a:after {
    left: 0;
    bottom: -10px;
}

a:before{
    right: 0;
    top: -10px;
}

#navigation>a:hover{
    color: white;
}

#navigation>a:hover:after,
#navigation>a:hover:before{
    width: 100%;
}

#border {
    width: calc(100% - 210px);
    height: 500px;
    border: 4px solid black;
    position: absolute;

    background: linear-gradient(to right bottom,#3EBFF7,white);
    top: 120px;
    right: 100px;
    box-shadow: 0 10px 10px 0 #535c68;
}

#img {
    position: absolute;
    top:90px;
    right: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}


#box {
    width: 300px;
    height: 494px;
    background: linear-gradient(to right bottom,#0c2461,#3EBFF7);
    top:0;
    right:0;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#header {
    position: absolute;
    top: 65px;
    left:90px;
    font-family: 'Lobster', cursive;
    font-size: 55px;
    background: linear-gradient(to right top,#0c2461,#95a5a6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    /*color: ;*/
}


 #name {
    position: absolute;
    top: 170px;
    left:210px;
    font-size: 45px;
    font-family: 'Playfair Display', serif;

}

#position {
    position: absolute;
    top: 250px;
    left:210px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 28px;

    -webkit-text-stroke: 1px black;
    color: transparent;
    background-image: linear-gradient(black, blue,purple);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -300px ;
    animation: backcolor 2s linear infinite alternate ;
}

@keyframes backcolor {
    100%{
        background-position: 300px 0 ;
    }
}

.container{
    position: absolute;
    top: 430px;
    left: 440px;
}

.container .button{
    display: inline-block;
    left: 100px;
    height: 45px;
    width: 45px;
    margin: 0 5px;
    overflow: hidden;
    background: white;
    border-radius: 50px;
    cursor:pointer;
    box-shadow: 0 10px 10px rgba(0,0,0,0.6);
    transition: all 0.4s ease-out;
}

.container .button:hover{
    width: 200px;
}

.container .button:nth-child(1):hover{
    background: linear-gradient(to right bottom,purple,#3EBFF7);
}

.container .button:nth-child(2):hover{
    background: linear-gradient(to left bottom,black,white);
}

.container .button:nth-child(3):hover{
    background: linear-gradient(to left top,#44b2d3,white);
}

.container .button:nth-child(4):hover{
    background: linear-gradient(to right top,white,firebrick);
}
.container .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-top: 1px;
    margin-left: 5px;

    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.4s ease-out;
}


.container .button .icon{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.4s ease-out;
}

.container .button:hover .icon img{
    color: white;
}

.container .button h3{
    font-size: 20px;
    font-weight:bold;
    line-height: 60px;
    margin-left: 68px;
    transition: all 0.4s ease-out;
    position: relative;
    top: -70px;
    color: black;

}

#b{
    width: 120px;
    height: 30px;
    position: absolute;
    border: 2px solid black;
    top: 370px;
    left: 210px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #dfe6e9;
}
#text02 {
    position: absolute;
    padding: 3px;
    font-size:18px;
    margin-left: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 2px;
}

#b:hover{
    background: black;

}

#text02:hover{
    color: white;

}

/*-------------------------------------------------- project ---------------------------*/

#border01 {
    width: calc(100% - 210px);
    height: 627px;
    border: 4px solid black;
    position: absolute;
    background-color: #7efff5;
    opacity: 0.4;
    top: calc(215% - 50px);
    right: 100px;
    box-shadow: 0 10px 10px 0 #535c68;
}
#project01 {
    position: absolute;
    left: 250px;
    top: calc(205% - 30px);
    color:black;
    font-size: 70px;
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    text-shadow: 5px 5px 5px #7f8fa6;
}

#project01:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}





/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card__img{
    display: block;
    max-width: 100%;
    height: 200px;

}

/*=============== CARD ===============*/
.contain {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
    left: 120px;
    position: absolute;
    top: calc(220% - 50px);
}

.card__container{
    display: grid;
    row-gap: 3.5rem;
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 300px;
    border-radius: 1.5rem;
}

.card__data {
    width: 150px;
    background: linear-gradient(to right bottom,#3EBFF7,white);
    padding: 1.5rem 1rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -8rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
    height: 120px;

}

.card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
    font-weight: bold;
    text-align: center;
}

.card__title {
    font-size: var(--h2-font-size);
    color:black;
    margin-bottom: .75rem;
    background: linear-gradient(to right top,red,black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
    font-weight: bolder;
    text-align: center;
}

.card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: black;
    position: absolute;
    left: 130px;
    width: 70px;
    height: 21px;
}

.card__button:hover {

    font-weight: bold;

}

/* Naming animations in hover */
.card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }
    50% {
        overflow: hidden;
    }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .contain {
        margin-inline: 1rem;
    }

    .card__data {
        width: 200px;
        padding: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

 /*For large devices*/
@media screen and (min-width: 1120px) {
    .contain {
        height: 100vh;
    }

    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
        width: 348px;
    }
    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}

/*-------------------------------------------------- about me ---------------------------*/


#box03 {
    width: 200px;
    height: 390px;
    position: absolute;
    background-color: #3EBFF7;

    top: 830px;
    left: 120px;
    border-radius: 0 50px 50px 0;
}
#img05 {
    position: absolute;
    width: 330px;
    height: 330px;
    top: 860px;
    left: 170px;
    box-shadow: rgba(0, 0, 0, 0.15) 7.95px 9.95px 2.6px;
}

#line04 {
    width: 4px;
    height: 450px;
    background-color:#b2bec3;
    position: absolute;
    left: 580px;
    top: 800px;
}

#about {
    position: absolute;
    left: 250px;
    top: calc(100% - 20px);
    color:black;
    font-size: 70px;
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    text-shadow: 5px 5px 5px #7f8fa6;

}
#about:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

#aboutMe {
    position: absolute;
    left: 680px;
    top: 640px;
    font-size: 200px;
    font-family: 'Josefin Slab', serif;
    color: #dfe6e9;
}
#name01 {
    position: absolute;
    left: 640px;
    top: 870px;
    font-family: 'Black Ops One', cursive;
    font-size: xxx-large;
    color: #3EBFF7;
}
#text03 {
    position: absolute;
    left: 640px;
    top: 970px;
    font-family: 'Frank Ruhl Libre', serif;
    font-size:30px;
    color: #1e272e;
}
#btn {
    position: absolute;
    width: 140px;
    height: 30px;
    top:calc(188% - 20px) ;
    border: 2px solid black;
    right: 150px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background: #dfe6e9;

    transition: .5s;
}
#btn:hover {
    background-color: black;
    /*width: 140px;*/
}
#cv{
    position: absolute;
    padding: 3px;
    font-size:18px;
    margin-left: 13px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-right: 2px;
}

#cv:hover{
    color: #dfe6e9;
}

/*<!--      /////////////////////////// Assignment Page /////////////////////// -->*/

#Main-Assignment {
    position: absolute;
    left: 250px;
    top: calc(305% - 30px);
    color:black;
    font-size: 70px;
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    text-shadow: 5px 5px 5px #7f8fa6;
}

#Main-Assignment:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;}

#assignment01 {
    position: absolute;
    left: 220px;
    top: calc(345% - 10px);
    font-size: 200px;
    font-family: 'Josefin Slab', serif;
    color: #dfe6e9;
    opacity: 90%;
}

.review-box{
    width: 90%;
    max-width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px rgba(0,0,0,0.25);
    position: absolute;
    top: calc(335% - 10px);
    left: 350px;
    background: white;
    overflow: hidden;
}

.card{
    height: 300px;
    padding: 40px;
    color: #777;
    line-height: 22px;
    box-sizing: border-box;
    background: lightblue;
    position: relative;
    z-index: 1;
}

.profile{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profile img{
    width: 150px;
    border-radius: 10%;
    margin-right: 20px;
}

.profile h2{
    font-size: 25px;
    color: darkred;
    margin-bottom: 8px;
}

.card p{
    color: #060E18;
    font-weight: bold;
}

.card .button01 {
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    color: #060E18;
    padding: 5px 16px;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.card .button01:hover{
    background: black;
    color: white;
    border: 2px solid white;
}

.card .button02 {
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    color: #060E18;
    padding: 5px 16px;
    border-radius: 10px;
    position: absolute;
    right: 180px;
    bottom: 10px;
}

.card .button02:hover{
    background: black;
    color: white;
    border: 2px solid white;
}
#slider{
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.slider-bar{
    width: 60px;
    height: 100%;
    padding:15px 0;
    box-sizing: border-box;
    background: navy;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider-bar img{
    width: 25px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;

}

.card::before{
    content: '';
    width: 110px;
    height: 110px;
    border-bottom-right-radius:100%;
    background:navy;
    position: absolute;

    left: 0;
    top: 0;
    z-index: -1;
}

::selection{
    background: #7efff5;
    color: white;
}


/*<!--      /////////////////////////// Education  & Skills Page /////////////////////// -->*/


#education {
    position: absolute;
    left: 250px;
    top: calc(405% - 30px);
    color:black;
    font-size: 70px;
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    text-shadow: 5px 5px 5px #7f8fa6;
}

#education:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

#border02 {
    width: calc(100% - 210px);
    height: 627px;
    border: 4px solid black;
    position: absolute;
    background-color: #7efff5;
    opacity: 0.4;
    top: calc(415% - 50px);
    right: 100px;
    box-shadow: 0 10px 10px 0 #535c68;
}

.content{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: calc(455% - 50px);
    left: 70px;
}

.box{
    width: 200px;
    height: 200px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
    text-align: center;
    background: linear-gradient(to right top,white,darkblue);
    border-radius: 0 25px 0 25px;

}
.box .edu{
    position: relative;
    top: -50px;
    left: 3px;

}
.box .edu01{
    position: relative;
    top: -50px;
    left: 0;
    opacity: 20%;
}

.box:hover .edu01{
    opacity:1;
}
.box h3{
    display: block;
    width:100%;
    border-radius: 5px;
    top: -170px;
    position: relative;

}

.box:hover .level{
    color: transparent;
}

.box:hover .level01{
    color: transparent;
}

.box h4{
    display: block;
    width:100%;
    border-radius: 5px;
    top: -160px;
    position: relative;
    color: #060E18;
}
.box:hover{
    transform: scale(1.3);
    z-index: 2;
}

.edu{
    position: relative;
    top: -40px;
}

#r-01 {
    width:100px;
    height: 100px;
    position: absolute;
    background-color: white;
    top: calc(444% - 50px);
    left: 270px;
    border-radius: 20px;
    border: 2px solid black;
}


#java{
    position: absolute;
    top: -2px;
    left: -5px;
}
#r-02 {
    width:100px;
    height: 100px;
    position: absolute;
    top: calc(430% - 50px);
    background-color: white;
    left: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

#css{
    position: absolute;
    left: 5px;
    top: 3px;
}

#js {
    width:100px;
    height: 100px;
    position: absolute;
    top: calc(444% - 50px);
    left: 530px;
    border-radius: 20px;
    border: 2px solid black;}

#sql {
    width:100px;
    height: 100px;
    position: absolute;
    top: calc(430% - 50px);
    border-radius: 20px;
    right: 630px;
    border: 2px solid black;
}

#r-05 {
    width:100px;
    height: 100px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    top: calc(444% - 50px);
    right: 500px;
    border: 2px solid black;
}
#html{
    border-radius: 20px;
    height: 90px;
    top: 5px;
    position: absolute;
}


#vs {
    width:100px;
    height: 100px;
    position: absolute;
    border-radius: 20px;
    top: calc(430% - 50px);
    right: 370px;
    border: 2px solid black;
}

#r-07 {
    width:100px;
    height: 100px;
    position: absolute;
    top: calc(444% - 50px);
    background-color:white ;
    right: 230px;
    border: 2px solid black;
    border-radius: 20px;
}
/*<!--      /////////////////////////// Gallery Page /////////////////////// -->*/

#photo {
    position: absolute;
    left: 250px;
    top: calc(505% - 30px);
    color:black;
    font-size: 70px;
    font-family: 'Courier Prime', monospace;
    font-style: italic;
    text-shadow: 5px 5px 5px #7f8fa6;
}

#photo:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

.hero{
    position: absolute;
    top: calc(528% - 30px);
    width: 87%;
    left: 100px;
    height: 95vh;
    overflow: hidden;

}

.hero .carousel{
    width: 300px;
    margin: 100px auto 0;
    overflow: visible;

}

/*<!--      /////////////////////////// Contact us /////////////////////// -->*/


#border03 {
    width: calc(100% - 210px);
    height: 530px;
    border: 4px solid black;
    position: absolute;
    background-color: #F6F6F6;
    top: calc(640% - 50px);
    right: 100px;
    box-shadow: 0 10px 10px 0 #535c68;
}

#border04 {
    width: calc(80% - 400px);
    height: 480px;
    border: 1px solid dodgerblue;
    position: absolute;
    background-color: #48dbfb;
    opacity: 0.4;
    top: calc(645% - 50px);
    left: 200px;
    box-shadow: 0 10px 10px 0 #535c68;
}

#border05 {
    width: 380px;
    height: 430px;
    border: 1px solid #060E18;
    position: absolute;
    background-color: #060E18;
    top: calc(649% - 50px);
    right: 200px;
}

#con {
    position: absolute;
    left: 250px;
    top: calc(640% - 30px);
    color:black;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #7f8fa6;
}

#con:hover {
    background: linear-gradient(to left top,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

.info{
    position: absolute;
    color: white;
    top: calc(650% - 30px);
    right:440px;
    font-size: 45px;
}

.contact{
    position: absolute;
    top: calc(665% - 30px);
    right:190px;
    font-size: 20px;
    font-weight: 500;
    /*color: blue;*/
}

.contact li{
    position: relative;
    list-style: none;
}

#im{
    position: absolute;
    right: 310px;
}

#lo{
    position: absolute;
    right: 180px;
    top: 10px;
    color: #dfe6e9;
}

#im1{
    position: absolute;
    right: 310px;
    top: 80px;
}

#lo1{
    position: absolute;
    right: 230px;
    top: 80px;
    color: #dfe6e9;
    font-size: 25px;
}

#lo2{
    position: absolute;
    right: 24px;
    top: 110px;
    color: #dfe6e9;
    font-size: 18px;
}

#im2{
    position: absolute;
    right: 310px;
    top: 180px;
}

#lo3{
    position: absolute;
    right: 240px;
    top: 180px;
    color: #dfe6e9;
    font-size: 18px;
}

#lo4{
    position: absolute;
    right: 160px;
    top: 210px;
    color: #dfe6e9;
    font-size: 18px;
}


#sci{
    position: absolute;
    right: 130px;
    top: calc(658% - 30px);
    list-style: none;
    align-content: space-between;
}

#pic{
    margin: 0 0 15px 0;
}

#pic1{
    margin: 0 0 15px 0;
}

#pic2{
    margin: 0 0 15px 0;
}

#pic3{
    margin: 0 0 15px 0;
}

#pic:hover{
    transform: scale(1.5);
}

#pic1:hover{
    transform: scale(1.5);
}

#pic2:hover{
    transform: scale(1.5);
}

#pic3:hover{
    transform: scale(1.5);
}
.contactForm{
    position: absolute;
    left: 250px;
    top: calc(658% - 30px);
}


.formBox .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.formBox .inputBox input,
.formBox .inputBox textarea{
    width: 500px;
    padding: 3px 0;
    font-size: 16px;
    margin: 10px -10px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    resize: none;
    border-radius: 10px
}

.formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 3px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: black;

}

.formBox .inputBox input:focus ~span,
.formBox .inputBox input:valid ~span,
.formBox .inputBox textarea:focus ~span,
.formBox .inputBox textarea:valid ~span{
    color: navy;
    font-size: 12px;
    transform: translateY(-20px);
}


.formBox .inputBox input[type="submit"]{
    width: 100px;
    height: 25px;
    background: #44b2d3;
    color: #060E18;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    cursor: pointer;
    padding: 1px;
    font-size: 18px;
    font-weight: bold;

}

.formBox .inputBox input[type="submit"]:hover{
    background-color: black;
    color: #dfe6e9;
}
#icon02 {
    background: linear-gradient(to right bottom,#95a5a6,#3EBFF7);
    position: absolute;
    top: calc(690% - 30px);
    width: 100%;
    height: 250px;
}

/*-------------------------------  media query -------------------*/


@media (max-width: 1170px) {
    #header{
        left: 60px;
    }
    #name{
        left: 150px;
        top: 150px;
        font-size: 42px;
    }
    #position{
        left:150px;
        top: 220px;
        font-size: 25px;
    }
    #b{
        left:150px;
        top: 310px;
    }
    #box{
        width: 250px;
    }
    #img{
        top: 110px;
        right: 70px;
        height: 300px;
        width: 250px;
    }


    /*-------------------------------  About me -------------------*/

    #aboutMe{
        font-size: 180px;
        left: 628px;
    }

    #name01{
        top: 830px;
    }

    #text03{
        top: 960px;
        font-size: 28px;
    }
    #btn{
        top:calc(200% - 20px);
        right: 100px;
    }

    /*-------------------------------  Project -------------------*/

    .card__img{
        width: 280px;
    }

    .card__data{
        width: 270px;
    }

    .card__button{
        left: 100px;
    }

    /*-------------------------------  Assignment -------------------*/

    #assignment01{
        font-size: 180px;
        left: 170px;
    }

    .review-box{
        left: 290px;
    }


    /*-------------------------------  Skills -------------------*/

    #education{
        left: 200px;
    }
    #r-01{
        left: 160px;
    }

    #r-02{
        left: 290px;
    }

    #js{
       left: 410px;
    }

    #sql{
        left: 540px;
    }

    #r-05{
        right: 390px;
    }

    #vs{
        right: 260px;
    }

    #r-07{
        right: 130px;
    }


    /*-------------------------------  Contact -------------------*/

    #border04{
        left: 170px;
    }

    #border05{
        height: 380px;
        top: calc(655% - 50px);
        width: 350px;
    }

    .info{
        top: calc(653% - 30px);
        right: 440px;
    }

    .contact{
        top: calc(668% - 30px);
    }

    .formBox .inputBox input{
        width: 320px;
    }
    .formBox .inputBox textarea{
        width: 320px;
    }
    
}




@media (max-width: 1130px) {
    #img{
        top: 150px;
        right: 60px;
        height: 270px;
        width: 230px;
    }

    .container{
        left: 400px;
    }


    /*-------------------------------  About me -------------------*/

    #aboutMe{
        left: 610px;
    }


    /*-------------------------------  Project -------------------*/

    .card__img{
        width: 260px;
    }

    .card__data{
        width: 250px;
    }

    .card__button{
        left: 90px;
    }


    /*-------------------------------  Assignment -------------------*/

    .review-box{
        left: 270px;
    }


    /*-------------------------------  Contact -------------------*/

    #border05{
        height: 360px;
        top: calc(658% - 50px);
        width: 350px;
        right: 180px;
    }

    #sci{
        right: 115px;
    }

    .contact{
        right: 170px;
        top: calc(670% - 30px);
    }

    .info{
        top: calc(656% - 30px);
        right: 430px;
    }
}




@media (max-width: 1110px) {
    #header{
        left: 50px;
    }

    #name{
        left: 130px;
        font-size: 40px;
    }
    #position{
        left:130px;
        top: 220px;
        font-size: 23px;
    }
    #b{
        left:130px;
        top: 310px;
    }

    #img{
        top: 150px;
        right: 50px;
        height: 265px;
        width: 230px;
    }

    .container{
        left: 380px;
    }


    /*-------------------------------  About me -------------------*/

    #box03{
        width: 170px;
        height: 360px;
    }

    #img05{
        width: 300px;
        height: 300px;
    }

    #line04{
        left: 520px;
    }

    #aboutMe{
        left: 570px;
    }

    #name01{
        left: 570px;
    }
     #text03{
         left: 570px;
     }

     #btn{
         top:1230px;
     }


    /*-------------------------------  Project -------------------*/

    #border01{
        height: 900px;
    }
    .contain{
        left: 180px;
    }
    .card__container{
        display: grid;
        row-gap: 3.9rem;
    }
    .card__img{
        width: 90%;
    }

    .card__data{
        width: 250px;

    }

    .card__button{
        left: 90px;
        font-size: 15px;
    }

    .card__button:hover{
        font-weight: normal;
        color: #0a53be;
    }
        /*-------------------------------  Assignment -------------------*/

    #Main-Assignment{
        top: calc(360% - 30px);
    }
    #assignment01{
        left: 110px;
        top: calc(410% - 10px);
    }
    .review-box{
        left: 240px;
        top: calc(390% - 10px);
    }

    /*-------------------------------  Skills -------------------*/

    #border02{
        top: calc(480% - 50px);
    }

    #education{
        top: calc(473% - 30px);
        font-size: 67px;
        left: 170px;
    }

    .content{
        left: 60px;
    }

    #r-01 {
        top: calc(515% - 50px);
    }

    #r-05 {
        right: 360px;
        top: calc(515% - 50px);
    }

    #r-02{
        top: calc(498% - 50px);
    }
    #js{
        top: calc(515% - 50px);
    }

    #sql{
        left: 525px;
        top: calc(498% - 50px);
    }

    #vs{
        right: 240px;
        top: calc(498% - 50px);
    }

    #r-07{
        top: calc(515% - 50px);
    }

    .content{
        top: calc(523% - 50px);
    }

    /*-------------------------------  Gallery -------------------*/

    #photo{
        top: calc(580% - 30px);
    }
    .hero{
        top: calc(600% - 30px);
        left: 80px;
    }

    /*-------------------------------  Contact -------------------*/

    #icon02{
        top: calc(750% - 30px);
    }

    #sci{
        top: calc(720% - 30px);
    }
    #border03{
        top: calc(700% - 50px);
    }

    #border04{
        top: calc(705% - 50px);
    }

    #border05{
        top: calc(715% - 50px);
    }

    #con{
        top: calc(703% - 50px);
        left: 210px;
    }

    .info{
        top: calc(713% - 30px);
    }

    .contact{
        top: calc(728% - 30px);
    }
    .contactForm{
        left: 228px;
        top: calc(720% - 30px);
    }
}






@media (max-width: 1070px) {
    #icon{
        width: 1048px;
    }

    #icon02{
        width: 1048px;
    }


    #name{
        font-size: 38px;
    }

    .container{
        left: 320px;
    }


    /*-------------------------------  About me -------------------*/

    #about{
        left: 180px;
    }


    #aboutMe{
        font-size: 165px;
        left: 530px;
        top: 700px;
    }

    #box03{
        left: 100px;
        height: 340px;
    }

    #img05{
        left: 140px;
        width: 280px;
        height: 280px;
    }

    #line04{
        left: 480px;
    }

    #name01{
        left: 530px;
    }

    #text03{
        left: 530px;
    }

    #btn{
        right: 100px;
    }


    /*-------------------------------  Assignment-------------------*/

    #Main-Assignment{
        left: 180px;
    }

    .review-box{
        left: 210px;
    }


    /*-------------------------------  Skills-------------------*/

    .content{
        width: 80%;
        left: 110px;
    }

    /*-------------------------------  Gallery-------------------*/

    #photo{
        left: 190px;
    }


    .hero{
        width: 85%;
    }

    /*-------------------------------  Contact-------------------*/

    #con{
        left: 220px;
    }

    #border05{
        width:300px ;
        height: 380px;
        top: calc(715% - 50px);
    }

    .info{
        top: calc(713% - 30px);
        right:380px;
    }

    .contact{
        top: calc(728% - 30px);
    }

    .contactForm{
        left: 228px;
        top: calc(720% - 30px);
    }

    #im{
        position: absolute;
        right: 285px;
    }

    #im1{
        right: 285px;
    }

    #im2{
        right: 285px;
    }
    .contact li{
        left:10px;

    }
}



@media (max-width: 1024px) {
    #icon{
        width: 1008px;
    }

    #icon02{
        width: 1008px;
    }

    #header{
        left: 50px;
    }

    #name {
        left: 110px;
        top: 130px;
        font-size: 40px;
    }

    #position{
        left:110px;
        top: 200px;
        font-size: 24.5px;
    }
    #box{
        width: 200px;
    }

    #b{
        left: 110px;
    }
    #img{
        top: 175px;
        right: 50px;
        height: 250px;
        width: 200px;
    }

    .container{
        left: 300px;
    }

    /*-------------------------------  About me-------------------*/

    #box03{
        width: 150px;
        height: 340px;
    }

    #img05{
        width: 270px;
        height: 270px;
    }

    #name01{
        left: 530px;
        font-size: 45px;
    }
    #text03{
        left: 530px;
        font-size:25px;
    }

    #btn{
        top:1230px;
    }
    /*-------------------------------  Project-------------------*/

    .contain{
        left: 150px;
    }

    /*-------------------------------  Assignment-------------------*/

    #assignment01{
        font-size: 160px;
        left: 110px;
    }

    .review-box{
        left: 180px;
    }


    /*-------------------------------  Skills-------------------*/

    #education{
        left: 145px;
        font-size: 65px;
    }

    #r-02{
        left: 270px;
    }

    #js{
        left: 370px;
    }


    #sql{
        left: 480px;
    }

    #r-05{
        right: 330px;
    }

    #vs{
        right: 230px;
    }



    /*-------------------------------  Contact-------------------*/


    #border05{
        height: 350px;
        top: calc(720% - 50px);
    }

    .info{
        top: calc(718% - 30px);
    }


    .contact{
        top: calc(732% - 30px);
    }
    .formBox .inputBox input{
        width: 290px;
    }
    .formBox .inputBox textarea{
        width: 290px;
    }
}


@media (max-width: 1000px) {
    #icon{
        width: 980px;
    }

    #icon02{
        width: 980px;
    }


    /*-------------------------------  About me-------------------*/

    #aboutMe{
        font-size: 160px;
        left: 520px;
        top: 700px;
    }

    #name01{
        left: 520px;
        font-size: 43px;
    }
    #text03{
        left: 520px;
        font-size:23px;
    }

    /*-------------------------------  Skills-------------------*/

    #education{
        left: 140px;
        font-size: 63px;
    }


    /*-------------------------------  Contact-------------------*/

    #con{
        left: 200px;
    }

    .formBox .inputBox input{
        width: 280px;

    }
    .formBox .inputBox textarea{
        width: 280px;
    }

    .contactForm{
        left: 215px;

    }
}

@media (max-width: 975px) {
    #icon{
        width: 958px;
    }

    #icon02{
        width: 958px;
    }


    /*-------------------------------  About me-------------------*/

    #aboutMe{
        font-size: 160px;
        top: 710px;
    }


    /*-------------------------------  Project-------------------*/

    .contain{
        left: 120px;
    }

    .card__data{
        left: -35px;
    }

    /*-------------------------------  Skills-------------------*/

    #r-02{
        left: 250px;
    }

    #js{
        left: 340px;
    }

    #sql{
        left: 435px;
    }


    /*-------------------------------  Contact-------------------*/

    #con{
        font-size: 45px;
        left: 170px;
    }

    #border04{
        left: 150px;
    }

    .contactForm{
        left: 191px;
    }

}

@media (max-width: 940px) {
    #icon{
        width: 923px;
    }

    #icon02{
        width: 923px;
    }

    .container{
        left: 250px;
    }

    .container .button{
        height: 40px;
        width: 40px;
    }

    .container .button .icon{
        height: 50px;
        width: 50px;
        margin-left: 2.5px;
        margin-top: -1px;
    }

    .container .button h3{
        top: -60px;
    }


    /*-------------------------------  About me-------------------*/

    #aboutMe{
        font-size: 140px;
        top: 710px;
    }

    #header{
        font-size: 42px;
    }

    #name{
        font-size: 35px;
    }

    #position{
        font-size: 23px;
        top: 190px;
    }




    /*-------------------------------  Project -------------------*/

    .card__img{
        width: 80%;
    }

    .card__data{
        width: 230px;
        left: -67px;
    }

    .card__button{
        left: 80px;
        font-size: 15px;
    }
}